body{
background-color:green;
background-image:url("manati.jpg");
background-size:cover;
}
.canvitas{
background-color:white;
}
form{
background-color:red;
color:black;
font-size:20px;
}
p{
background-color:black;
color:white;
font-size:30px;
display: block;
margin-left: auto;
margin-right: auto;
}